.FreeVersionForm {
  background-color: white;
  border-radius: 20px;
}

.TextArea {
  width: 98%;
  height: 200px;
  border-radius: 10px;
  resize: none;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  outline: none;
  color: #6b6b6b;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.Table-icon{
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
