.Modal-container {
  position: relative;
  margin: 20px;
  padding: 30px;
  box-shadow: 0px 8px 25px #00000024;
}

.Modal-infringement-id {
  color: #6b6b6b;
  font-size: 0.8rem;
}

.Modal-item {
  display: flex;
  margin-top: 10px;
}

.Modal-item-label {
  color: #6b6b6b;
  font-size: small;
}

.Modal-item-icon {
  margin-right: 3px;
  color: #6b6b6b;
}

//Intervenning

.Intervenning-dropdown {
  display: block;
  border: #000 solid 1px;
}

//Attorney

.Modal-Input-file {
  border-style: dashed;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  border-color: #d4d4d4;
  margin-top: 20px;
  border-width: 2px;
}

.Modal-file-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* Laws Viewer*/

.Modal-laws-viewer {
  width: 45vw;
  align-self: center;
  display: block;
  background-color: white;
  height: 80vh;
  border-radius: 20px;
  padding: 2rem;
  overflow: hidden;
  display: flex;
}

.Scroll-container {
  padding: 10px;
}

.Scroll-content {
  text-align: justify;
  color: #6b6b6b;
  margin-right: 10px;
  border-radius: 10px;
  width: 600px;
  border: #6b6b6b solid 1px;
  padding: 10px;
  height: 300px;
}

.input-plus {
  margin-left: 10px;
  margin-right: 10px;
  color: #000;
  text-align: center;
}

/*Scrollbar configuration */

::-webkit-scrollbar {
  height: 12px;
  width: 3px;
  background: #c4c4c4;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
}

::-webkit-scrollbar-corner {
  background: #000;
}

.Formik-error {
  color: red;
  text-align: center;
  display: block;
}
